
.header-holder{
    display: flex;
    justify-items: center;
    justify-content: center;
    align-items: center;
    background-color: #131418;
    border-radius: 1rem;
}

.searchbar{
    margin-top: .8rem;
    width: 98% ;
    border: 1px solid #131418;
    border-right: none;
    padding: 1.4rem;
    height: 20px;
    border-radius: 3px;
    background-color: #2D303A;
    outline: none;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: "Inconsolata",monospace;

}
::placeholder{
    color: #868CA0;
    font-family: 'Montserrat', sans-serif;

}



/*.icons{*/
/*    justify-self: auto;*/
/*    margin-top: 1rem;*/
/*    margin-right: 2rem;*/
/*}*/


/*.icon1{*/
/*    width: 25px;*/
/*    color: #ff5a6d;*/
/*}*/
/*.icon2{*/
/*    width: 25px;*/
/*    color: rebeccapurple;*/
/*}*/
/*.icon3{*/
/*    width: 25px;*/
/*    color: #5e90cd;*/
/*}*/
/*.icon4{*/
/*    width: 25px;*/
/*    color: #534cc2;*/
/*}*/


