/*utilities*/


.m-b-item{
    margin: 2rem;
}


#vh{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    border-radius: .5rem;
}

@media(max-width: 881px) {
    #vh {
        display: grid;
        grid-template-columns:1fr 1fr;
        border-radius: .5rem;
    }
}


@media(max-width: 768px) {
    #vh {
        display: grid;
        grid-template-columns: 1fr;
        border-radius: .5rem;
    }
}






.test{
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #2D303A;
    color: #FFFFFF ;
    border-radius: 10px;
    -moz-osx-font-smoothing: grayscale;
    transform: translateZ(0);
    transition: transform 0.25s ease-out;
}
.test:hover{
    transform: scale(1.05);
}



.project-description{
    color: #C7C9D3;
    margin-top: 20px;
    padding-left:13px;

}


#vh img{
    width: 150px;
    height: 100px;
    border-radius: 3px;
}

#vh a{
    text-decoration: none;
    margin: .5rem;

    padding: 1rem 2rem 1rem 2rem;
    font-size: 1.2rem;
    border-radius: 3px;
    font-weight: bold;
    background-color: #444857;
    color: white;
    font-family: 'Josefin Sans', sans-serif;
}

#vh a:hover{
    background-color: #47cf73;
}
#vh h2{
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-family: 'Josefin Sans', sans-serif;
}
#vh p{
    padding: 0rem 1rem 1rem 1rem;
    font-family: 'Josefin Sans', sans-serif;
}
